CREATE INDEX IX_Customers_Search ON Customers (CustomerName) INCLUDE (CustomerID);



























USE [master]
GO
/****** Object:  Database [SyntaxDatabase]    Script Date: 7/31/2026 2:35:44 PM ******/
CREATE DATABASE [SyntaxDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SyntaxDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SyntaxDatabase.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SyntaxDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SyntaxDatabase_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SyntaxDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SyntaxDatabase]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[CanDelivery] [bit] NOT NULL,
	[CanCollection] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionSyntaxCategory]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionSyntaxCategory](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[REFID] [varchar](50) NOT NULL,
	[CATID] [int] NOT NULL,
	[AMOUNT] [float] NOT NULL,
	[OTHERREF] [varchar](200) NULL,
 CONSTRAINT [PK_CollectionSyntaxCategory] PRIMARY KEY CLUSTERED 
(
	[REFID] ASC,
	[CATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionSyntaxDtl]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionSyntaxDtl](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[REFID] [varchar](50) NOT NULL,
	[PAYMENTTYPE] [varchar](50) NOT NULL,
	[BANKINITIAL] [varchar](50) NULL,
	[CHECKNUMBER] [varchar](50) NULL,
	[ATTACH_REFID] [nvarchar](50) NULL,
	[AMOUNT] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionSyntaxHdr]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionSyntaxHdr](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PRNUMBER] [varchar](50) NOT NULL,
	[CUSTOMERID] [varchar](50) NOT NULL,
	[SALESMAN] [varchar](50) NOT NULL,
	[SYNTAXREFERENCE] [varchar](50) NOT NULL,
	[DateReceived] [date] NULL,
	[SyntaxDate] [datetime] NULL,
	[PR_CONFIRMED] [varchar](50) NULL,
 CONSTRAINT [PK_CollectionSyntaxHdr] PRIMARY KEY CLUSTERED 
(
	[PRNUMBER] ASC,
	[SALESMAN] ASC,
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionSyntaxInvDtl]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionSyntaxInvDtl](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[REFID] [varchar](50) NOT NULL,
	[INVOICENO] [varchar](50) NOT NULL,
	[AMOUNT] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[PK_cust] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NOT NULL,
	[CustomerName] [varchar](150) NOT NULL,
	[Street] [varchar](150) NULL,
	[Barangay] [varchar](50) NULL,
	[Municipality] [varchar](50) NULL,
	[Province] [varchar](70) NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
 CONSTRAINT [PK_CustomerList] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataLogs]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataLogs](
	[PK_LOGS] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[STORED_PROCEDURE] [varchar](50) NOT NULL,
	[ERROR_MESSAGE] [nvarchar](max) NOT NULL,
	[DATELOG] [datetime] NULL,
 CONSTRAINT [PK_DataLogs] PRIMARY KEY CLUSTERED 
(
	[PK_LOGS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileAttachment]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileAttachment](
	[PK_ATTACH] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ATTACH_REFID_DTL] [nvarchar](50) NOT NULL,
	[ATTACHMENT] [image] NOT NULL,
 CONSTRAINT [PK_FileAttachment] PRIMARY KEY CLUSTERED 
(
	[PK_ATTACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceList]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceList](
	[PK_INVOICE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[REFID] [varchar](50) NOT NULL,
	[CUSTOMERID] [varchar](50) NOT NULL,
	[INVOICEDATE] [date] NOT NULL,
	[BALANCE] [numeric](10, 2) NOT NULL,
	[DEPARTMENT] [varchar](50) NOT NULL,
	[DELIVERYDATE] [date] NOT NULL,
	[SALESMANID] [varchar](50) NOT NULL,
	[DATABASENAME] [varchar](15) NULL,
 CONSTRAINT [PK_InvoiceList] PRIMARY KEY CLUSTERED 
(
	[REFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SplitCategory]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SplitCategory](
	[PK_CATBAL] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
	[catid] [int] NULL,
	[Req_attach] [bit] NULL,
 CONSTRAINT [PK_SplitCategory] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](50) NOT NULL,
	[DecimalValue] [decimal](12, 2) NULL,
	[TextValue] [nvarchar](250) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TriplistAssign]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriplistAssign](
	[USERID] [varchar](50) NOT NULL,
	[TRIPID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccess]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccess](
	[USERID] [varchar](50) NOT NULL,
	[MODULE] [varchar](50) NOT NULL,
	[ACCESS] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserList](
	[PK] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[IMEI] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SALESMANID] [varchar](50) NOT NULL,
	[LocationLock] [bit] NULL,
 CONSTRAINT [PK_UserList] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceList]    Script Date: 7/31/2026 2:35:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceList] ON [dbo].[InvoiceList]
(
	[CUSTOMERID] ASC
)
INCLUDE([REFID],[BALANCE],[INVOICEDATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ((1)) FOR [CanDelivery]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ((1)) FOR [CanCollection]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CollectionSyntaxDtl] ADD  CONSTRAINT [DF_CollectionSyntaxDtl_AMOUNT]  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[CollectionSyntaxInvDtl] ADD  CONSTRAINT [DF_CollectionSyntaxInvDtl_AMOUNT]  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[DataLogs] ADD  CONSTRAINT [DF_DataLogs_DATELOG]  DEFAULT (getdate()) FOR [DATELOG]
GO
ALTER TABLE [dbo].[InvoiceList] ADD  CONSTRAINT [DF_InvoiceList_BALANCE]  DEFAULT ((0)) FOR [BALANCE]
GO
ALTER TABLE [dbo].[SplitCategory] ADD  CONSTRAINT [DF_SplitCategory_Req_attach]  DEFAULT ((0)) FOR [Req_attach]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserAccess] ADD  CONSTRAINT [DF_UserAccess_ACCESS]  DEFAULT ((0)) FOR [ACCESS]
GO
ALTER TABLE [dbo].[UserList] ADD  CONSTRAINT [DF_UserList_LocationLock]  DEFAULT ((0)) FOR [LocationLock]
GO
ALTER TABLE [dbo].[AppUsers]  WITH CHECK ADD  CONSTRAINT [CK_AppUsers_Role] CHECK  (([RoleName]='Admin' OR [RoleName]='Salesman'))
GO
ALTER TABLE [dbo].[AppUsers] CHECK CONSTRAINT [CK_AppUsers_Role]
GO
/****** Object:  StoredProcedure [dbo].[insert_customer]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insert_customer]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION
    -- Insert statements for procedure here
	INSERT INTO [dbo].[Customers]
           ([CustomerID]
           ,[CustomerName]
           ,[Street]
           ,[Barangay]
           ,[Municipality]
           ,[Province])
	select 
			[Customer code]
           ,[Customer Name]
           ,[Street]
           ,[Barangay]
           ,[city/town]
           ,[Province]
		from marssql.MARS2DB.dbo.customers
		where exists (select 1 from marssql.MARS2DB.dbo.salesheader where customerid = [customer code] and invoicedate >= '1/1/2026')
		and not exists (select 1 from customers where customerid = [customer code])
	
	INSERT INTO [dbo].[Customers]
           ([CustomerID]
           ,[CustomerName]
           ,[Street]
           ,[Barangay]
           ,[Municipality]
           ,[Province])
	select 
			[Customer code]
           ,[Customer Name]
           ,[Street]
           ,[Barangay]
           ,[city/town]
           ,[Province]
		from marssql.sqldb.dbo.customers
		where exists (select 1 from marssql.sqldb.dbo.salesheader where customerid = [customer code] and invoicedate >= '1/1/2026')
		and not exists (select 1 from customers where customerid = [customer code])

		INSERT INTO [dbo].[Customers]
           ([CustomerID]
           ,[CustomerName]
           ,[Street]
           ,[Barangay]
           ,[Municipality]
           ,[Province])
	select 
			[Customer code]
           ,[Customer Name]
           ,[Street]
           ,[Barangay]
           ,[city/town]
           ,[Province]
		from marssql.HPPsqldb.dbo.customers
		where exists (select 1 from marssql.HPPsqldb.dbo.salesheader where customerid = [customer code] and invoicedate >= '1/1/2026')
		and not exists (select 1 from customers where customerid = [customer code])

	
	COMMIT TRANSACTION

	INSERT INTO [dbo].[DataLogs]
           ([STORED_PROCEDURE]
           ,[ERROR_MESSAGE])
		VALUES ('insert_customer','SUCCESSFULL')

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		INSERT INTO [dbo].[DataLogs]
           ([STORED_PROCEDURE]
           ,[ERROR_MESSAGE])
		VALUES ('insert_customer',ERROR_MESSAGE())
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_INSERT_INVOICE]    Script Date: 7/31/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPDATE_INSERT_INVOICE]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION
    -- Insert statements for procedure here

	UPDATE T
	SET T.DELIVERYDATE = ISNULL(S.DELIVERYDATE,'12/31/1979')
		,T.BALANCE = S.BALANCE
	FROM InvoiceList T JOIN [MARSSQL].SQLDB.DBO.SALESHEADER S
		ON T.REFID = S.REFID
	WHERE T.BALANCE > 0 AND DATABASENAME = 'MARS1'

	UPDATE T
	SET T.DELIVERYDATE = ISNULL(S.DELIVERYDATE,'12/31/1979')
		,T.BALANCE = S.BALANCE
	FROM InvoiceList T JOIN [MARSSQL].MARS2DB.DBO.SALESHEADER S
		ON T.REFID = S.REFID
	WHERE T.BALANCE > 0 AND DATABASENAME = 'MARS2'

	UPDATE T
	SET T.DELIVERYDATE = ISNULL(S.DELIVERYDATE,'12/31/1979')
		,T.BALANCE = S.BALANCE
	FROM InvoiceList T JOIN [MARSSQL].HPPSQLDB.DBO.SALESHEADER S
		ON T.REFID = S.REFID
	WHERE T.BALANCE > 0 AND DATABASENAME = 'HPP'



	INSERT INTO [dbo].[InvoiceList]
           ([REFID]
           ,[CUSTOMERID]
           ,[INVOICEDATE]
           ,[BALANCE]
           ,[DEPARTMENT]
           ,[DELIVERYDATE]
           ,[SALESMANID]
		   ,DATABASENAME)
     SELECT
		[REFID]
        ,[CUSTOMERID]
        ,[INVOICEDATE]
        ,[BALANCE]
        ,OTHERGROUP
        ,ISNULL([DELIVERYDATE],'12/31/1979')
        ,[SALESMANID]
		,'MARS1'
	 FROM [MARSSQL].SQLDB.DBO.SALESHEADER H
		LEFT JOIN [MARSSQL].SQLDB.DBO.SOACLASS S ON H.SUPPLIER = S.SOAID
	WHERE BALANCE > 0 AND NOT EXISTS (SELECT 1 FROM InvoiceList WHERE REFID = H.REFID)
		AND OTHERGROUP IS NOT NULL

	INSERT INTO [dbo].[InvoiceList]
           ([REFID]
           ,[CUSTOMERID]
           ,[INVOICEDATE]
           ,[BALANCE]
           ,[DEPARTMENT]
           ,[DELIVERYDATE]
           ,[SALESMANID]
		   ,DATABASENAME)
     SELECT
		[REFID]
        ,[CUSTOMERID]
        ,[INVOICEDATE]
        ,[BALANCE]
        ,OTHERGROUP
        ,ISNULL([DELIVERYDATE],'12/31/1979')
        ,[SALESMANID]
		,'MARS2'
	 FROM [MARSSQL].MARS2DB.DBO.SALESHEADER H
		LEFT JOIN [MARSSQL].SQLDB.DBO.SOACLASS S ON H.SUPPLIER = S.SOAID
	WHERE BALANCE > 0 AND NOT EXISTS (SELECT 1 FROM InvoiceList WHERE REFID = H.REFID)
		AND OTHERGROUP IS NOT NULL
	
	INSERT INTO [dbo].[InvoiceList]
           ([REFID]
           ,[CUSTOMERID]
           ,[INVOICEDATE]
           ,[BALANCE]
           ,[DEPARTMENT]
           ,[DELIVERYDATE]
           ,[SALESMANID]
		   ,DATABASENAME)
	SELECT
		[REFID]
        ,[CUSTOMERID]
        ,[INVOICEDATE]
        ,[BALANCE]
        ,OTHERGROUP
        ,ISNULL([DELIVERYDATE],'12/31/1979')
        ,[SALESMANID]
		,'HPP'
	 FROM [MARSSQL].HPPSQLDB.DBO.SALESHEADER H
		LEFT JOIN [MARSSQL].SQLDB.DBO.SOACLASS S ON H.SUPPLIER = S.SOAID
	WHERE BALANCE > 0 AND NOT EXISTS (SELECT 1 FROM InvoiceList WHERE REFID = H.REFID)
		AND OTHERGROUP IS NOT NULL

	

	INSERT INTO [dbo].[DataLogs]
           ([STORED_PROCEDURE]
           ,[ERROR_MESSAGE])
		VALUES ('UPDATE_INSERT_INVOICE','SUCCESSFULL')

	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		INSERT INTO [dbo].[DataLogs]
           ([STORED_PROCEDURE]
           ,[ERROR_MESSAGE])
		VALUES ('UPDATE_INSERT_INVOICE',ERROR_MESSAGE())
	END CATCH
END
GO
USE [master]
GO
